{% extends "base.html" %}
{% block content %}
<div class="journal_entry">

	<div class="entry_info">
		<div class="edit">
			<form method="post">
				<input type="submit" name="edit" value="edit_entry"/>
			</form>	
		</div>
		<div class="title">
			{{entry.title}}
		</div>
		<div class="entry_text" charset="utf-8">
			<textarea> {{entry.journal_entry}} </textarea>
		</div>
	</div>
	

	<!-- <form method="post">
		<input type="text" name="title" value="{{ entry.title|default('') }}">
		<input type="text" name="entry" value="{{ entry.body|default('') }}">
		<input type="submit" name="save">
	</form> -->

</div>

{% endblock %}
